@media only screen and (min-width: 640px) {
  body {
    display: none;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: auto;
  background: #f9f9ff;
  background-image: url(../img/bg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Outfit", sans-serif;
}

header {
  width: 100vw;
  padding: 19px 15px;

  nav {
    display: flex;
    margin-left: 6px;
    color: #ffffff;
    font-size: 18px;

    a {
      margin-top: 8px;
      margin-right: 20px;
    }

    h4 {
      margin-left: 20%;
      font-size: 26px;
    }
  }
}

.container {
  // height: 764px;
  margin: 37px 7% 63px;
  padding: 32px 20px 0;
  border-radius: 15px;
  background: #f9f9ff;

  .img-con {
    // margin: 32px;
    img {
      margin: 0 20%;
    }
  }

  .texts {
    padding: 30px 2.5%;
    text-align: center;
    h1 {
      font-size: 20px;
      color: #3a2a7a;
    }

    p {
      margin-top: 15px;
      font-size: 14px;
      color: rgba(26, 12, 47, 0.7);
    }

    .earned {
      margin-bottom: 35px;
      h1 {
        color: #01ae13;
        font-size: 39px;
        font-family: "DM Sans", sans-serif;
      }
    }

    .line {
      width: 95%;
      height: 1px;
      // margin: 0 2.5%;
      background: #e3ecf6;
    }

    .actions {
      margin-top: 23px;
      display: flex;

      .box {
        display: flex;
        justify-content: space-between;
        padding-right: 9px;

        p {
          margin-top: 0;
          font-size: 12px;
          line-height: 20px;
          text-align: left;
        }

        > span {
          // margin-top: 15px;
          font-size: 30px;
          color: #000;
          // text-align: right;
        }
      }

      .b-1 {
        width: 26%;
      }

      .b-2 {
        width: 36%;
        padding-left: 10px;
        padding-right: 10px;
      }

      .b-3 {
        width: 40%;
        padding-left: 10px;
      }

      .s-lines {
        height: 46px;
        width: 1px;
        background: #e3ecf6;
      }
    }
  }
}

.ussd {
  margin-top: 35px;
  border-radius: 5px;
  width: 100%;
  height: 85px;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  background: transparent;
  color: #5c5c5c;

  .txt {
    color: #1a0c2f;
  }
}
.ussd svg {
  fill: #5c5c5c;
}
.ussd:focus {
  border: none;
  background: #c53b9e13;
  color: rgba(197, 59, 159, 1);
  outline: none;
}
.ussd:focus svg {
  fill: rgba(197, 59, 159, 1);
}

.share {
  margin-top: 32px;
  width: 100%;
  height: 60px;
  background: #5f22cb;
  border-radius: 5px;
  outline: none;
  border: none;
  color: #ffffff;
  font-size: 18px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}

.flex {
  display: flex;
}
